@media (max-width: 480px){


	.toplogo {
		background-color: ;
	}


	/* ----------padding and size stuff---------- */


	nav {
		padding: 20px 0px 20px 0px;
	}

	header {
		padding: 0px 20px 0px 0px;
	}

	article.firstquote {
		padding: 20px 20px 40px 20px;
	}

	article.about {
		padding: 20px 20px 20px 20px;
	}

	article.contribute {
		padding: 20px 20px 20px 20px;
	}

	article.secondquote{
		padding: 20px 20px 20px 20px;
	}

	article.contact {
		padding: 20px 20px 20px 20px;
	}

	footer {
		padding: 20px 20px 20px 20px;
	}


	/* ----------font stuff---------- */


	nav {
		text-align: center;
	}

	header {
		font-size: 20px;
		line-height: 25px;
	}

	article.about {
		font-size: 20px;
		line-height: 25px;
	}

	.heading1, .heading2, .heading3a, .heading3b {
		font-size: 25px;
		line-height: 25px;
	}

	article.firstquote span, article.secondquote span {
		font-size: 25px;
		line-height: 25px;
	}

	.headerright {
		font-size: 10px;
		line-height: 15px;
	}

	a.button1, a.button1:link, a.button1:active, a.button1:visited, 	a.button2, a.button2:link, a.button2:active, a.button2:visited  {
		font-size: 15px;
		line-height: 20px;
	}

	/* ----------background stuff---------- */

	nav {
		background-color: #0e2044;
		background-image: none;
		display: block;
	}

	header {
		background-color: #0e2044;
		background-image: url("images/header-mobile.jpg");
		background-attachment: scroll;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		height: 200px;
		}

	article.firstquote {
		background-color: #25a1b0;
		background-image: url("images/ipointerwbg.png"), none;
		background-attachment: scroll;
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}

	article.contribute {
		background-color:#0c3052;
		background-image: url("images/wpointeribg.png"), url("images/background1-mobile.jpg");
		background-attachment: scroll;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%, cover;
		width: 100%;
	}

	article.secondquote {
		background-color: #ffffff;
		background-image: url("images/background2-mobile.jpg");
		background-attachment: scroll;
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}

	.leftside1, .rightside1, .leftside2, .rightside2, .leftside3, .rightside3 {
		width: 100%;
		display: block;
	}


}


