@media (max-width: 1280px){
	nav, header, article, footer, div {
		font-size: 95%;
	}
}

@media (max-width: 768px){
	nav, header, article, footer, div {
		font-size: 85%;
	}
}

@media (max-width: 480px){
	nav, header, article, footer, div {
		font-size: 75%;
	}
}

