body {
	background-color: #0e2044;
}

header, nav {
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	border: 0px;
	color: #ffffff;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

nav {
	background-color: #0e2044;
	background-image: url("images/header3.jpg");
	display: block;
	height: 90px;
	padding: 20px 150px 20px 150px;
	text-align: right;
}

header {
	background-color: #0e2044;
	background-image: url("images/header.jpg");
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	line-height: 25px;
	height: 600px;
	padding-right: 200px;
}

article {
	color: #ffffff;
	font-family: Century Schoolbook;
	font-size: 20px;
	line-height: 30px;
}

article.contact, article.contribute, footer {
	font-family: 'Work Sans', sans-serif;
}

article.firstquote {
	background-color: #25a1b0;
	background-image: url("/images/ipointerwbg.png"), url("images/header2.jpg");
	background-repeat: no-repeat;
	background-size: auto, 100%;
	background-position: bottom center, top center;
	background-attachment: scroll, fixed;
	text-align: center;
	width: 100%;
	padding: 100px 200px 160px 200px;
}

article.about {
	background-color: #ffffff;
	color: #0e2044;
	padding: 200px;
}

article.contribute {
	color: #ffffff;
	background-color:#0c3052;
	background-image: url("images/wpointer.png"), url("images/background1.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: scroll, fixed;
	background-size: auto, 100%;
	font-size: 20px;
	line-height: 30px;
	width: 100%;
	padding: 200px 200px;
}

article.secondquote {
	background-image: url("images/background2.jpg");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #ffffff;
	color: #0e2044;
	text-align: center;
	width: 100%;
	padding: 100px 200px;
}


article.contact {
	background-color:#0e2044;
	background-image: url("wpointer.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	color: #ffffff;
	text-align: left;
	width: 100%;
	padding: 100px 200px;
}

footer {
	font-size: 15px;
	line-height: 25px;
	color: #ffffff;
	width: 100%;
	padding: 50px 200px;
	text-align: center;
	background-color: #0d172b;
}



/* text styles */





a.navlink, a.navlink:active, a.navlink:link, a.navlink:visited {
	color: #ffffff;
	font-family: Century Schoolbook;
	font-size: 15px;
	letter-spacing: 1px;
	text-decoration: none;
	padding-right: 25px;
}

a.navlink:hover {
	color:#25a1b0;
}

a.reg:link, a.reg:active, a.reg:visited {
	color:#b02591;
	letter-spacing: 0px;
}

a.reg:hover {
	border-bottom: 1px solid #b02591;
}

a:link, a:active, a:visited{
	color: #ffffff;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	line-height: 30px;	
	text-decoration: none;
}

a.con:link, a.con:active, a.con:visited{
	color: #25a1b0;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	line-height: 30px;	
	text-decoration: none;
}

a.con:hover {
	color: #25a1b0;
	text-decoration: none;
	border-bottom: 1px solid #25a1b0;
}

a.button1:link, a.button1:active, a.button1:visited{
	color: #ffffff;
	background-color: #0e2044;
	font-family: Nexa Bold;
	font-size: 30px;
	letter-spacing 0px;
	line-height: 35px;
	padding: 15px;
	text-align: right;
	text-decoration: none;
	width: 60%;
	display: block;
}

a.button1:hover{
	background-color:#b02591;
}

a.button2:link, a.button2:active, a.button2:visited{
	color: #ffffff;
	background-color: #0e2044;
	font-family: Nexa Bold;
	font-size: 30px;
	letter-spacing: 0px;
	line-height: 35px;
	padding: 15px;
	text-align: right;
	text-decoration: none;
	width: 60%;
	display: block;
}

a.button2:hover{
	background-color: #25a1b0;
}


.avatar {
	width: 200px;
	vertical-align: middle;
	float: left;
}

.element {
    margin:10px;
}

p {
    display:inline-block;
    margin:0px;
    width:70%;
    background:white;
    vertical-align:middle;
}

.avatarbox {
    display:inline-block;
    vertical-align:middle;
    width: 29%;
}

.avatar {
	width: 90%;
}

.magenta {
	color: #b02591!important;
}


.skyblue {
	color: #25a1b0!important;
}


h3 {
	color: #ffffff;
	font-size: 30px;
	font-family: Century Schoolbook;
	line-height: 50px;
	left: -25px;
	position: relative;
}

.lefttd {
	color: #25a1b0;
	font-family: Nexa Bold;
	font-size: 20px;
	line-height: 30px;	
	text-decoration: none;
	padding-right: 20px;
}

.righttd {
	color: #ffffff!important;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	line-height: 30px;	
	text-decoration: none;
}


.quote {
	font-family: Century Schoolbook 'Regular';
	font-size: 35px;
	line-height: 45px;
}

.qmark {
	color: #0e2044;
	font-family: Century Schoolbook 'Bold';
	font-size: 35px;	
}

.qmark2 {
	color: #b02591;
	font-family: Century Schoolbook 'Bold';
	font-size: 35px;	
}

.qname {
	font-family:'Work Sans', sans-serif;
	font-size: 20px;
	line-height: 35px;	
}

.toplogo {
	height: 50px;
	display: block;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

.navbox{
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.heading1 {
	color: #ffffff;
	font-family: Nexa Bold;
	font-size: 35px;
	letter-spacing: 0px;
	display: block;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 50px;
}

.heading3a {
	color: #0e2044;
	font-family: Nexa Bold;
	font-size: 35px;
	letter-spacing: 0px;
	border-left: 8px solid #b02591;
	width: 100%;
	display: block;
	padding: 10px 10px 10px 10px;
}

.heading3b {
	color: #0e2044;
	font-family: Nexa Bold;
	font-size: 35px;
	letter-spacing: 0px;
	border-left: 8px solid #25a1b0;
	width: 100%;
	display: block;
	padding: 10px 10px 10px 10px;
}

.heading2 {
	color: #ffffff;
	font-family: Nexa Bold;
	font-size: 35px;
	letter-spacing: 0px;
	line-height: 36px;
}

.headerright {
	width: 40%;
	padding: 50px 50px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: right;
}

.divider {
	width: 30%;
	margin: 50px auto;
}
