body {
	background-color: #0e2044;
}


header, nav {
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px;
	color: #ffffff;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

nav {
	background-color: #0e2044;
	background-image: url("images/header3.jpg");
	display: block;
	padding: 20px 150px 20px 150px;
	text-align: right;
}

header {
	background-color: #0e2044;
	background-image: url("images/header.jpg");
	font-family: 'Muli', serif;
	font-size: 20px;
	font-weight: 400, normal;
	letter-spacing: 0px;
	line-height: 25px;
	height: 600px;
	padding-right: 200px;
}

article {
	color: #ffffff;
	font-family: 'Crimson Text', serif;
	font-size: 20px;
	line-height: 30px;
}

article.contact, article.contribute, footer {
	font-family: 'Muli', serif;
	font-weight: 400, normal;
	letter-spacing: 0px;
}

article.firstquote {
	background-color: #25a1b0;
	background-image: url("images/ipointerwbg.png"), url("images/header2.jpg");
	background-repeat: no-repeat;
	background-size: auto, cover;
	background-position: bottom center, top center;
	background-attachment: scroll, fixed;
	text-align: center;
	width: 100%;
	padding: 100px 200px 160px 200px;
}

article.about {
	background-color: #ffffff;
	color: #0e2044;
	padding: 150px 200px 200px 200px;
}

article.contribute {
	color: #ffffff;
	background-color:#0c3052;
	background-image: url("images/wpointeribg.png"), url("images/contribute.gif");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: scroll, fixed;
	background-size: auto, cover;
	font-size: 20px;
	line-height: 30px;
	width: 100%;
	padding: 200px 200px;
}

article.secondquote {
	background-image: url("images/secondquote.gif");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #ffffff;
	color: #0e2044;
	text-align: center;
	width: 100%;
	padding: 100px 200px;
}


article.contact {
	background-color:#0e2044;
	background-image: url("wpointer.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	color: #ffffff;
	text-align: left;
	width: 100%;
	padding: 100px 200px;
}

footer {
	font-size: 15px;
	line-height: 25px;
	color: #ffffff;
	width: 100%;
	padding: 50px 200px;
	text-align: center;
	background-color: #0d172b;
}



/* text styles */


.leftside {
	width: 55%;
}

.rightside {
	width: 45%;
}

.leftside1 {
	width: 35%;
}

.rightside1 {
	vertical-align: middle;
}

.leftside3 {
	width: 50%;
}

.rightside3 {
	width: 50%;
}

a.navlink, a.navlink:active, a.navlink:link, a.navlink:visited {
	color: #ffffff;
	font-family: 'Muli', serif;
	font-size: 15px;
	letter-spacing: 0px;
	text-decoration: none;
	margin: 0px 12px 0px 12px;
}

a.navlink:hover {
	color:#25a1b0;
}

a.reg:link, a.reg:active, a.reg:visited {
	color:#b02591;
	letter-spacing: 0px;
}

a.reg:hover {
	border-bottom: 1px solid #b02591;
}

a:link, a:active, a:visited{
	color: #ffffff;
	font-family: 'Muli', serif;
	font-size: 20px;
	font-weight: 400, normal;
	letter-spacing: 0px;
	line-height: 30px;	
	text-decoration: none;
}

a.con:link, a.con:active, a.con:visited{
	color: #25a1b0;
	font-family: 'Muli', serif;
	font-size: 20px;
	font-weight: 400, normal;
	letter-spacing: 0px;
	line-height: 30px;	
	text-decoration: none;
}

a.con:hover {
	color: #25a1b0;
	text-decoration: none;
	border-bottom: 1px solid #25a1b0;
}

a.button1, a.button1:link, a.button1:active, a.button1:visited{
	color: #ffffff;
	background-color: #b02591;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	letter-spacing 0px;
	line-height: 35px;
	padding: 15px;
	text-align: right;
	text-decoration: none;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

a.button1:hover{
	background-color:#0e2044;
}

a.button2, a.button2:link, a.button2:active, a.button2:visited{
	color: #ffffff;
	background-color: #25a1b0;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 35px;
	padding: 15px;
	text-align: right;
	text-decoration: none;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

a.button2:hover{
	background-color: #0e2044;
}


.avatar {
	vertical-align: middle;
	float: left;
	width: 90%;
}

.element {
    margin: 10px;
}

p {
    display: inline-block;
    margin: 0px;
    width: 70%;
    background: white;
    vertical-align: middle;
}

.avatarbox {
    display: inline-block;
    vertical-align: middle;
    width: 29%;
}

.conhead {
	color: #ffffff;
	font-size: 30px;
	font-family: 'Crimson Text', serif;
	line-height: 50px;
	display: block;
}

.lefttd {
	color: #25a1b0;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;	
	text-decoration: none;
	padding-right: 20px;
}

.righttd {
	color: #ffffff!important;
	font-family: 'Muli', serif;
	font-size: 20px;
	font-weight: 400, normal;
	letter-spacing: 0px;
	line-height: 30px;	
	text-decoration: none;
}

.boldtext {
	color: #25a1b0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;	
	text-decoration: none;
}

.quote {
	font-family: 'Crimson Text' serif;
	font-size: 35px;
	font-weight: regular, 400;
	line-height: 45px;
}

.qmark {
	color: #0e2044;
	font-family: Georgia;
	font-size: 35px;
	font-weight: bold;	
}

.qmark2 {
	color: #b02591;
	font-family: Georgia;
	font-size: 35px;
	font-weight: bold;	
}

.qname {
	font-family: 'Muli', serif;
	font-size: 20px;
	font-weight: 400, normal;
	letter-spacing: 0px;
	line-height: 35px;	
}

.toplogo {
	height: 50px;
	display: block;
	text-align: left;
}

.heading1 {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 37px;
	display: block;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
}

.heading3a {
	color: #0e2044;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 0px;
	border-left: 8px solid #b02591;
	width: 100%;
	display: block;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
}

.heading3b {
	color: #0e2044;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 0px;
	border-left: 8px solid #25a1b0;
	width: 100%;
	display: block;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
}

.heading2 {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 36px;
}

.headerright {
	width: 40%;
	padding: 50px 50px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: right;
}

.divider {
	width: 30%;
	margin: 50px auto;
}

.magenta {
	color: #b02591!important;
}


.skyblue {
	color: #25a1b0!important;
}

a:hover .navyblue {
	color: #ffffff;
}

.navyblue {
	color: #0e2044!important;
}


li {
  	list-style-position: inside;
}

ul {
    list-style: none;
    margin-left: 0;
    text-indent: -20px;
	/*        
	padding-left: 20px; 
	*/
}

li.one:before {
    color: #b02591;
    content: "+";
    display: block;
    float: left;
    width: 20px;
}

li.two:before {
	color: #25a1b0;
    content: "+";
    display: block;
    float: left;
    width: 20px;
}

.conbox, .navbox2 {
	width: 100%;
}

tr td.leftside {
	padding: 0px 20px 20px 20px;
}

tr td.rightside {
	padding: 20px 20px 20px 20px;
}

tr td.leftside3 {
	padding: 0px 20px 20px 20px;
}

tr td.rightside3 {
	padding: 20px 20px 20px 20px;
}

.likebox {
	padding: 20px 20px 20px 40px;
}